.navbar{
    background-color: #f7eaed;
    display: flex;
    justify-content: space-evenly;
    

}

a{
    text-decoration: none;
    color: rgb(235, 10, 10);
    

}

li{
    list-style-type: none;
    background-color: rgb(245, 242, 242);
}

.outer{
    height: 400px;
    width: 400px;
    background-color: rgb(42, 165, 93);
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 200px;
    width: 200px;
    background-color: rgb(175, 221, 9);
    border: 1px;
    align-self: flex-start;
    
}